[submodule "lvgl"]
	path = lvgl
	url = https://github.com/100askTeam/lvgl.git
	branch = release/v8.2
[submodule "lv_lib_100ask"]
	path = lv_lib_100ask
	url = https://github.com/100askTeam/lv_lib_100ask.git
